/* Base Styles */
body {
  color: royalblue;
  text-align: center;
  background-color: bisque;
  font-family: "PT Serif", Arial, sans-serif;
}

/* Typography */

/* Links & Accents */
.accent {
  color: rgb(219, 29, 61);
}
/* Images */
/* possible flower design? maybe change later */
.flower-container {
  align-content: center;
  justify-content: center;
  display: inline-block;
  width: 64px;
  height: 64px;
}
.petal,
.center {
  position: absolute;
  border-radius: 50%;
  margin-left: 14px;
}
.center {
  background-color: yellow;
  width: 23px;
  height: 23px;
  margin-left: 20px;
}
.petal {
  background-color: pink;
  width: 35px;
  height: 22px;
}
.petal1 {
  transform: rotate(0deg) translateX(22px);
}
.petal2 {
  transform: rotate(72deg) translateX(22px);
}
.petal3 {
  transform: rotate(144deg) translateX(22px);
}
.petal4 {
  transform: rotate(216deg) translateX(22px);
}
.petal5 {
  transform: rotate(288deg) translateX(22px);
}

.hero-img {
  border: 10px solid rgb(129, 129, 129);
  border-radius: 10px;
}

/* Hero Section */
.header-content {
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 20px;
}
.header-content h1 {
  border-bottom: 3px solid rgb(248, 92, 118);
  font-family: "PT Serif", Arial, sans-serif;
  font-size: 48px;
  padding: 0px 0px 10px 0px;
}

.tagline {
  font-family: "Lato", Arial, sans-serif;
  font-style: italic;
}
/* Main Content */

/* About Section */
.about-us {
  display: block;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Specials Section */
.specials {
  border-top: 5px dotted rgb(248, 92, 118);

  margin-top: 50px;
}

.specials-list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 10px auto;
  align-items: center;
  overflow-x: auto;
  padding: 20px;
  justify-content: center;
}

.special-offer {
  position: relative;
  min-width: 360px;
  background-color: white;
  border: 5px solid rgb(129, 129, 129);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.special-offer:hover {
  transform: scale(1.03);
}

.price-now {
  font-family: "Lato", Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  /* width: 120px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(41, 88, 41);
  text-align: center;
  align-items: center;
  justify-content: center; */
}

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
